.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: white;
}
.divContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formContainer{
  display: flex;
  
}
.css-13r4j3i .MuiTextField-root{
    width: 450px !important;
}

